:root {

    /* Amarrillo botones */
    --color-secondary: #FFCA02;
    /* Fondo de la página */
    --color-background-main: #ffffff;
    /* Azul footer y barra debajo header */
    --color-background-blue: #2f5098;
    --color-background-footer: #2f5098;
    /* Gris sidebar */
    --color-background-sidebar: #e5e6e9; /* GRIS CLARO: #e5e6e9 */
    /* Colores de texto */
    --color-text-dark: #111;
    --color-text-light: #ffffff;
}

@font-face {
    font-family: 'Pokemon';
    src: url('../font/pokemon.ttf') format('truetype');
}

.colorbluenav {
    background-color: var(--color-background-blue);
}

.colorblue {
    background-color: var(--color-background-blue);
    border-color: var(--color-background-blue);
    color: white;
}

/* ======================================= */
/* 1. BODY */
/* ======================================= */
body, *, .navbar-brand, .form-control, .btn {
    font-family: 'Pokemon', sans-serif !important;
}

/* ======================================= */
/* 2. HEADER */
/* ======================================= */
#headerNavbar {
    background-color: var(--color-background-footer);
}

.banner {
    height: 350px;
    object-fit: cover;
    width: 100%;
    object-position: 30% 80%;
}

.search-bar {
    border-radius: 40px;
}


.colorblue:hover {
    background-color: #426cc9;
    border-color: #426cc9;
    color: white;
}

.textblue {
    color: var(--color-background-blue);
}

.coloramarrilo:hover {
    background-color: #d5412e;
    border-color: #d5412e;
    color: white;
}

.coloramarrilo {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-background-blue);
}

.form-check-input {
    border: 1px solid var(--color-background-blue);
}

.form-check-input:checked {
    background-color: var(--color-background-blue);
    border-color: var(--color-background-blue);
}

/* NINTENDO DS */
#pokedexCarousel img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

#pokedexCarousel .carousel-control-prev-icon,
#pokedexCarousel .carousel-control-next-icon {
    background-color: var(--color-background-footer);
    border-radius: 50%;
    padding: 20px;
    background-size: 60%;
}

#scrollPokemon {
    height: 100%;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}

#scrollPokemon img {
    width: 100%;
    height: auto;
    display: block;
}

/* CRUCETA (FLECHITAS)*/
.ds-dpad { /* CONTENEDOR */
    position: relative;
    width: 80px;
    height: 80px;
}

.ds-dpad::before { /* esto dibuja la cruz del fondo blanco */
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    border: 2px solid #0dcaf0;
    clip-path: polygon(33% 0, 67% 0, 67% 33%, 100% 33%, 100% 67%, 67% 67%,
    67% 100%, 33% 100%, 33% 67%, 0 67%, 0 33%, 33% 33%);
    /* clip-path recorta el cuadrado hasta dejarlo en forma de "+" */
}

.ds-dpad-btn { /* cada flecha individual transparente encima de la cruz creada antes */
    position: absolute;
    width: 27px;
    height: 27px;
    padding: 0;
    border: 0;
    background: transparent;
    color: #0dcaf0;
    font-size: 14px;
    line-height: 27px;
}

.ds-dpad-btn:active {
    color: #087990;
}

/* posiciones d ecads flecha  */
.ds-dpad-btn.up {
    top: 0;
    left: 27px;
}

.ds-dpad-btn.down {
    bottom: 0;
    left: 27px;
}

.ds-dpad-btn.left {
    left: 0;
    top: 27px;
}

.ds-dpad-btn.right {
    right: 0;
    top: 27px;
}

/* BOTONES: X,Y,A,B */
.ds-abxy { /* conetendor*/
    position: relative;
    width: 80px;
    height: 80px;
}

.ds-btn { /* cada boton individual */
    position: absolute;
    width: 27px;
    height: 27px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #0dcaf0;
    background: #fff;
    color: #0dcaf0;
    font-size: 11px;
    font-weight: bold;
}

.ds-btn:active {
    background: #cff4fc;
}

/* posiciones d ecads boton  */
.ds-btn.x {
    top: 0;
    left: 27px;
}

.ds-btn.y {
    top: 27px;
    left: 0;
}

.ds-btn.a {
    top: 27px;
    right: 0;
}

.ds-btn.b {
    bottom: 0;
    left: 27px;
}

/* START y SELECT */
.ds-startselect { /* contenedor */
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 8px;
    font-weight: bold;
    color: #0dcaf0;
}

.ds-dot { /* circulito decorativo */
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border-radius: 50%;
    border: 2px solid #0dcaf0;
    background: #fff;
    vertical-align: middle;
}

/* ======================================= */
/* 5. SIDEBAR */
/* ======================================= */
#comunidad {
    background: white;
    border: 2px solid #2f5098;
    border-radius: 18px;
}

#comunidad h2 {
    color: #2f5098;
}

#comunidad ul {
    list-style-type: none;
    color: #2f5098;
}

#comunidad img {
    width: 30px;
    height: auto;
    border-radius: 100%;
    border: 1px solid #2f5098;
}

#comunidad button {
    background: #2f5098;
    border: 2px solid #2f5098;
    width: 80%;
    color: white;
}

#noticias {
    background: white;
    border: 2px solid #2f5098;
    border-radius: 18px;
}

#noticias h2 {
    color: #2f5098;
}

#noticias input {
    border: 2px solid #2f5098;
    color: #2f5098;
}

#noticias button {
    background: #2f5098;
    border: 2px solid #2f5098;
    width: 100%;
    color: white;
}

#noticias .card {
    border: 1px solid rgb(221, 212, 212);
}

#noticias h5 {
    font-size: 18px;
    font-style: oblique;;
}

#noticias p {
    font-size: 14px;
}

#noticias input::placeholder {
    color: #2f5098;
}


/* ======================================= */
/* 6. FOOTER */
/* ======================================= */
footer {
    background-color: var(--color-background-blue);
    color: var(--color-text-light);
    display: block;
}

#footer__logo img {
    height: 80px;
    /* Ajuste del logo */
    width: auto;

}

#tittle__footer {
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
}

#footer__copyright {
    font-size: 12px;
    text-decoration: none;
    line-height: 1.2em;
}

.banner {
    height: 350px;
    object-fit: cover;
    width: 100%;
    object-position: 30% 80%;
}

.search-bar {
    border-radius: 40px;
}

.ds-screen {
    height: 20em;
}

.ds-screen-bottom {
    height: 17em;
}
